
/*
variables（変数）
Mixins
common（ウェブサイト共通）  >>  フォント、リッチテキスト、CTA、フォーム、区切り線、記事リスト
logo・navigations（ロゴ・ナビゲーション）
header・main-visual（ヘッダ・メインビジュアル）
breadcrumbs（パンくず）
main（コンテンツ）
・見出し  >>コンテンツエリア、サイド、ブログ
・ボタン
・カテゴリ・タグ自動生成ページ
・各ページ・・・toppage servicepage など
・追加クラス(共通のものがあれば)
ブログテンプレート
side bar（サイドバー） >> タグクラウド  ランキング
foot（フッター）
編集画面用CSS（編集画面のみに効くCSS）*/

/* --------------------------------
   variables（変数）
----------------------------------- */
$base_color: #4d5243 ; //こげ茶っぽい
$main_color: #0d9341 ; //ロゴの緑
//$accent_color:adjust-hue($main_color , 145deg); //補色
$accent_color: orange;//赤

$header_bg_color: #fff ; //ヘッダー全体の背景色
$navigation_bg_color: $main_color ; //グロナビの背景色
$navigation_text_color: #fff ; //グロナビのフォントカラー
$navigation_hover_bg_color: $main_color ; //グロナビをホバーした時の背景色
$navigation_text_hover_color: #fff ; //グロナビをホバーした時のフォントカラー


$a_text_color: $base_color; //テキストリンクのカラー
$h_text_color: $base_color; //見出しのカラー
$h_decoration_color : $main_color;//見出しの装飾カラー
$customButton_border_color: $main_color ; //ボタンのふちカラー
$customButton_bg_color:$main_color; //ボタンの背景
$customButton_text_color: #fff ; //ボタンのフォントカラー


$breadcrumbs_bg_color: #fff ; //パンくずリストの背景色
$base_bg_color: #fff;//lighten($main_color , 62%) ;//ベースの背景色
$even_section_bg_color: #eae8e8;//lighten($main_color , 62%) ; //偶数番目のセクションの背景色


$tag_color: $a_text_color; //タグのカラー
$pagination_color: $main_color; //記事リストパーツのページネーションカラー
$ranking_color: $main_color; //ランキングの番号カラー
$form_submit_color:$accent_color; //フォームの送信ボタンカラー
$form_hissu_color:$accent_color;//フォームの「必須マーク」カラー


$footer_bg_color: $main_color ; //フッター全体の背景色
$footCont_text_color: $base_color ; //フッターコントのフォントカラー
$copyright_bg_color: #eae8e8 ; //コピーライトの背景色
$copyright_text_color: $base_color;//コピーライトのテキストカラー
/*----------------------------------
  Mixins
----------------------------------*/
@mixin breakpoint-sp {
  @media screen and (max-width: 769px) {
    @content;
  }
}
@mixin breakpoint-tab {
  @media screen and (min-width: 600px) and ( max-width: 769px) {
   @content;
  }
}
@mixin breakpoint-pc {
  @media screen and (min-width: 769px) {
    @content;
  }
}

// ブレークポイントの設定
$breakpoints: (
	'sp': 'screen and (max-width: 568px)',
	'tb': 'screen and (max-width: 768px)',
	'spc': 'screen and (max-width: 1000px)',
	'mpc': 'screen and (min-width: 1600px)',
	'pc': 'screen and (min-width: 1920px)',
) !default;

@mixin mq($breakpoint: tb) {
	@media #{map-get($breakpoints, $breakpoint)} {
		@content;
	}
}

// Transform > translate
@mixin translate($prop...) {
	-webkit-transform: translate($prop);
	transform: translate($prop);
}
@mixin rotate($prop...) {
	-webkit-transform: rotate($prop);
	transform: rotate($prop);
}

// Transition
@mixin transition($prop...) {
	-webkit-transition: $prop;
	transition: $prop;
	backface-visibility: hidden;
}

//lexboxプロパティ
@mixin flexbox{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@mixin align-items-center{
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@mixin align-items-start{
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

@mixin align-items-stretch{
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}
@mixin flex-wrap-wrap{
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
@mixin flex-wrap-nowrap{
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
@mixin flex-direction-row{
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
@mixin flex-direction-column{
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
@mixin justify-content-around{
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
@mixin justify-content-between{
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@mixin justify-content-center{
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
@mixin justify-content-start {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
@mixin flex-direction-column-reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;

  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}
@mixin flexbox-important {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}
@mixin flex($grow,$shrink,$basis) {
  -webkit-box-flex: $grow;
  -ms-flex: $grow $shrink $basis;
  flex: $grow $shrink $basis;
}
@mixin edit-page {
  .frame-root .frame-content {
    @content;
  }
}
@mixin icon_btn($icon) {
  a:before {
    font-family: fontawesome;
    content: $icon;
    padding-right: 10px;
  }
}
@mixin icon_list($icon) {
  li {
    list-style-type: none;
    &:before {
      font-family: fontawesome;
      content: $icon;
      padding-right: 10px;
      font-size: 1.2em;
    }
  }
}
@include breakpoint-sp {
 .reverse {
   flex-wrap: wrap-reverse;
   display: flex;
 }
}
/* --------------------------------
   common（ウェブサイト共通）
----------------------------------- */
.navi-002-01 header#navigations ,
.theme-fo-base.clearfix {
  color:$base_color;
}

.theme-fo-base {
  background: $base_bg_color;
  .contents section:nth-child(even) {
   background: $even_section_bg_color;
  }
  .wrapper.none .contents .inner {
    max-width: 1400px;
    padding: 20px !important;
   .row {
     padding: 0;
     @include breakpoint-sp {
       max-width: 600px;
       margin: 0 auto;
      }
    }
    a {
      color: $a_text_color;
    }
    .component .remodal-contact-content  {
      color:$base_color !important;
    }
  }



 /*    フォント     */
 .component span.font-size-60px { font-size: 60px; @include breakpoint-sp { font-size: 36px; } }
 .component span.font-size-40px { font-size: 40px; @include breakpoint-sp { font-size: 30px; } }
 .component span.font-size-50px { font-size: 50px; @include breakpoint-sp { font-size: 28px; } }
 .component span.font-size-36px { font-size: 36px; @include breakpoint-sp { font-size: 26px; } }
 .component span.font-size-30px { font-size: 30px; @include breakpoint-sp { font-size: 26px; } }
 .component span.font-size-28px { font-size: 28px; @include breakpoint-sp { font-size: 26px; } }
 .component span.font-size-26px { font-size: 26px; @include breakpoint-sp { font-size: 24px; } }
 .component span.font-size-25px { font-size: 25px; @include breakpoint-sp { font-size: 20px; } }
 .component span.font-size-24px { font-size: 24px; @include breakpoint-sp { font-size: 20px; } }
 .component span.font-size-22px { font-size: 22px; @include breakpoint-sp { font-size: 20px; } }
 .component span.font-size-20px { font-size: 20px; @include breakpoint-sp { font-size: 18px; } }
 .component span.font-size-18px { font-size: 18px; @include breakpoint-sp { font-size: 14px; } }
 .component span.font-size-16px { font-size: 16px; @include breakpoint-sp { font-size: 16px; } }
 .component span.font-size-14px { font-size: 14px; @include breakpoint-sp { font-size: 14px; } }
 .component span.font-size-13px { font-size: 13px; @include breakpoint-sp { font-size: 11px; } }
 .component span.font-size-12px { font-size: 12px; @include breakpoint-sp { font-size: 10px; } }
 .component span.font-size-10px { font-size: 10px; @include breakpoint-sp { font-size: 8px; } }


  /*     リッチテキスト    */
  .theme-fo-base {
    .component.richtext {
      a {
        color: $a_text_color;
       &:hover {
        opacity: .7;
        }
      }
    }
  }
  //表
    .component.richtext.custom_table {
      table {
        th {
        font-weight: bolder;
        text-align: left;
        background: rgba($main_color, .15) !important;
        min-width: 80px;
      }
        tr:nth-child(even) td {
        background-color: transparent;
        }
        th ,
        td{
          border: 1px solid #e5e5e5;
          @include breakpoint-sp {
           padding: 5px;
          }
          ul {
            margin: 0 0 0 25px;
          }
        }
      }
    }

  //表のスクロール（sp）
    .component.richtext.table_scroll {
      @include breakpoint-sp {
      overflow: auto;  //tableをスクロールさせる
     //   white-space: nowrap; //文字を改行させない横一列
         table td {
          min-width: 80px;
          }
         &.nowrap {
          white-space: nowrap; //文字を改行させない横一列
          }
        }
      }
    .component.richtext.table_scroll::-webkit-scrollbar {  //tableにスクロールバーを追加
     height: 5px;
    }
    .component.richtext.table_scroll::-webkit-scrollbar-track {  //tableにスクロールバーを追加
     background: #F1F1F1;
    }
    .component.richtext.table_scroll::-webkit-scrollbar-thumb {  //tableにスクロールバーを追加
     background: #BCBCBC;
    }




  /*    CTA    */
  .theme-fo-base .wrapper .contents {
    section.cta_section {
      @include breakpoint-pc {
      min-height: 400px;
      }
      .inner {
        max-height: 1100px;
        background: rgba(#fff, .7);
        margin: 0 auto;
         @include breakpoint-pc {
         padding: 10px 0 !important;
         transform: translate(0, 60px);
         -webkit-transform: translate(0, 60px);
        }
         .component.heading h2,
         .component.text {
       //    color:#fff;
           }
         }
      }
  }



  /*     フォーム     */
  //必須
  .theme-fo-base .wrapper .contents {
    .component.form {
      .form-label.require {
        &:after {
          color: #fff;
          background:$form_hissu_color;
           @include breakpoint-sp {
           right: -10px;
          }
        }
      }
    }
  }
  //送信ボタンのカラー
  .theme-fo-base {
    .component {
      .contact_form {
       .form-submit .popup-link {
          background:$form_submit_color;
          border: 2px solid $form_submit_color;
          border-radius: 0;
          color:white;
          box-shadow:none;
           &:hover {
            color:$form_submit_color;
            border:2px solid $form_submit_color;
            background:none;
          }
        }
      }
    }
  }
  //フォーム内
  .component.form input[type="text"] {
    &.input-first-name {
      width: 49%;
    }
    &.input-last-name {
     width: 49%;
     margin-right: 2%;
    }
  }



  /*  区切り線  */
  .theme-fo-base .component.border {
    hr.type01 {
      background-image: -webkit-linear-gradient(left, transparent, $main_color, transparent);
      background-image: -moz-linear-gradient(left, transparent, $main_color, transparent);
      background-image: -ms-linear-gradient(left, transparent, $main_color, transparent);
      background-image: -o-linear-gradient(left, transparent, $main_color, transparent);
    }
    hr.type02 {
      border-bottom: 1px dashed $main_color;
    }
    hr.type03 {
      border-bottom: 1px solid $main_color;
    }
    hr.type04 {
      border-top: 3px double $main_color;
    }
  }


  /* ----------------------------------
    記事リスト
  ----------------------------------*/
  .theme-fo-base.clearfix {
    .entry-list {
      .entry-list-unit {
        .cont {
           h3 a {
            font-weight: bold;
            color: $a_text_color;
             &:before {
              content: none;
            }
          }
          p.category a {
          color: $tag_color;
           &:hover {
            opacity:.7;
           }
          }
          p {
           color: $tag_color !important;
          }
          .tag {
           background: none;
           color: $tag_color;
           font-size: 13px;
            &:hover {
           //  border: none;
             opacity:.7;
             text-decoration: underline;
             }
        /*    &:before {
            content: "\f02b";
            font-family: FontAwesome;
            } */
          }
        }
      }
      .article-per-page .pagination {
        li.active a {
          background: $pagination_color !important;
          color: #fff;
        }
        li a {
          color: $a_text_color;
          border: 1px solid $pagination_color ! important;
        }
      }
    }
  }

  .theme-fo-base.clearfix {
    .component.blog_articles article {
      .infomation {
        a {
          &:hover {
            opacity:.7;
          }
        }
        .published_at {
          background: lighten($base_color, 10%);
        }
        .tags {
          .tag {
            background: transparent;
            color:  $tag_color;
            font-size: 13px;
            &:hover {
              border-radius: 0px;
        //      border:none;
              opacity: .7;
          //    text-decoration: underline !important;
            }
          }
     /*    .tag:before {
           content: "\f02b";
           font-family: FontAwesome;
          } */
        }
      }
    }
  }
  .fa-navicon:before,
  .fa-reorder:before,
  .fa-bars:before {
    content: "\f115" !important;
    color: $tag_color;
  }



/*  その他  */

  //バグ修正
  //タブレット表示のスタイルの崩れ（記事リストカード型２列３列）
  @include breakpoint-sp {
   .theme-fo-base {
    .component.entry-image-card-2-col ,
    .component.entry-image-card-3-col {
      .entry-list-unit {
        width: 100%;
        }
      }
    }
  }

//スマホだけ・PCだけ
.spOnly {
  @include breakpoint-pc {
    display: none !important;
  }
}
.pcOnly {
    @include breakpoint-sp {
  display: none !important;
  }
}
//displayNoneクラス
.displayNone {
  display: none;
}
//ギャラリーパーツ
.poptrox-overlay .poptrox-popup .pic {
  z-index: 10000;
}
//iframe
.component.iframe {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 70%; //縦横比を決める
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    }
  }
}
/* --------------------------------
    logo・navigations（ロゴ・ナビゲーション）
----------------------------------- */
//1段のとき
.navi-001-01 header#navigations {
  border-bottom: 0;
  box-shadow: 0 0 10px #ddd;
  @media screen and(min-width: 770px) {
    .logo h1 {
      line-height: 70px;
      a {
        height: 70px;
      }
    }
  }
  .main-menu.pc {
    .level-01,
    .level-01-trigger {
      border-left: 0;
      border-right: 0;
      a {
        padding: 25px 10px;
      }
    }
  }
}

//2段のとき
.navi-002-01 header#navigations {
  background:$header_bg_color;
   .main-menu.pc {
    .level-01, .level-01-trigger {
  //    border-left: 0;
  //    border-right: 0;
     a {
       padding: 20px 10px;
       color: $a_text_color;
       display:block;
       position:relative;
       font-size: 13px;
       /* &:after {
         background: #fff;
         bottom: 0;
         content: '';
         height: 2px;
         left: 0;
         position: absolute;
         right: 0;
         width: 0%;
         transition: all .3s ease;
        } */
        &:hover {
          color: $navigation_text_hover_color;
          opacity:.7;
         /*  &:after {
            width: 100%;
            }*/
          }
        }
      }
    }
  }

.navi-002-01 header#navigations {
  padding-bottom: 1px;
  .inner {
    .navigation-cont {
      min-height: 70px;
      .logo {
        @include breakpoint-sp {
        padding: 0 60px 0 20px;
        }
         @include breakpoint-pc {
         max-width: 40%;
       }
        h1 {
          height: 50px;
          a {
           height: 70px;
            img {
            max-height: 100px;
        //    max-width: 80%;
            padding: 10px 0 0 0;
             @include breakpoint-sp {
               max-height: 50px;
              }
            }
          }
        }
      }
      .cont {
           padding: 18px 0 5px;
         max-width: 60%;
          @include breakpoint-sp {
            display: none;
        }
        .row .col {
           @include breakpoint-tab {
            display: inline-block !important;
            width: 50% !important;
           }
            .component.button .button-cont {
               @include breakpoint-sp {
                text-align: center;
            }
          }
          .component.button.custom_button.access .button-cont a {
            padding: 10px 25px 10px 45px;
          }
        }
      }
    }
    .main-menu {
      border-top: solid 1px $navigation_bg_color;
      border-bottom: solid 1px $navigation_bg_color;
      background: $navigation_bg_color;
      .level-01,
      .level-01-trigger {
        &>a {
          color: $navigation_text_color;
        }
      }
      .level-01:hover {
        background-color: $navigation_hover_bg_color;
        a {
          color: $navigation_text_hover_color;
           opacity:.7;
        }
      }
      .level-01-trigger {
        &:after {
     //     display: none;
        color:$navigation_text_color;
        }
       &:hover {
        background: $navigation_hover_bg_color;
        &>a {
          color: $navigation_text_hover_color;
           opacity:.7;
        }
        .level-02 a {
          &:hover {
           background: $navigation_hover_bg_color;
           color: $navigation_text_hover_color;
             opacity:.7;
          }
        }
      }
      .level-01-cont {
        border : 1px solid $base_color;
        width: 100%;
        background:$navigation_bg_color;
        .level-02 a {
          background: $navigation_bg_color;
          color: $navigation_text_color;
          }
        }
      }
    }
    .main-menu.sp {
    .toggle.fa.fa-angle-up , .toggle.fa.fa-angle-down {
      &:before {
        color: #fff;
        font-size: 25px;
        }
      }
    }
  }
}

@include breakpoint-sp {
  .navi-002-01 header .inner a.menu-trigger{
    background: $main_color;
    span {
      background-color: #fff;
    }
  }
}
/*----------------------------------
  header・main-visual（ヘッダ・メインビジュアル）
----------------------------------*/
@include breakpoint-pc {
.theme-fo-base {
  .main-visual.top-page {
    .row.title-group {
      height: 373px;
      .col {
        vertical-align: middle;
      .component.heading {
        h1 {
          color:#fff;
          font-size: 42px;
          font-weight: normal;
          line-height: 1.5;
            }
          }
        }
      }
    }
  }
}

/*----------------------------------
  breadcrumbs（パンくず）
----------------------------------*/
.theme-fo-base {
  .breadcrumbs {
  //  border-bottom: 1px solid rgba( $base_color ,.1 );
    margin: 0;
    background: $breadcrumbs_bg_color;
    max-width: 100%;
    ul {
      max-width: 1080px;
      margin: 0 auto;
      li {
        a ,
        span {
        color: $a_text_color;
        text-decoration: unset;
        }
      }
    }
  }
}

/* ----------------------------------
見出し
----------------------------------*/
/* コンテンツエリアの見出し */
.theme-fo-base.clearfix {
  .contents {
    .component.heading {
      h1 ,h2 , h3, h4, h5 {
      color:$h_text_color;
      font-weight: 700;
      }
      h1 {
        margin: 30px 0;
        font-size: 65px;

      }
      h3 {
  //     padding: 0.25em 0;
  //     margin: 10px 0 30px;
  //     font-size: 36px;
      // text-shadow: 10px 10px 5px rgba($h_decoration_color , .3);
         @include breakpoint-sp {
  //        font-size: 24px;
         }
      }
      h2 {
        display: inline-block;
        padding: 0.25em 0;
        margin: 10px 0 30px;
        position: relative;
         @include breakpoint-sp {
          margin: 10px 0 20px;
         }
        &:after {
        content: '';
        position: absolute;
        bottom: -20px;
        top: auto;
        display: inline-block;
        width: 70px;
        height: 4px;
        left: 50%;
        -moz-transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        background-color: $h_decoration_color;
        border-radius: 1px;
        border: none;
        }
      }
      &.rich-heading-align-left h2 {
        &:after {
        left: 35px;
        }
      }
      &.rich-heading-align-right h2 {
        &:after {
        left: initial;
        right: -35px;
        }
      }
      h3 {
        color :$h_decoration_color;
      }
    }
  }
}
/* サイドの見出し */
.theme-fo-base.clearfix {
  .side .component.heading {
    h1,h2,h3,h4,h5 {
      color:$h_text_color;
      font-weight: bold;
    }
    h1 {
     border-top: 3px solid $h_decoration_color;
    }
    h2 {
     &:after {
       display: none;
     }
    }
     h3 {
     &:after {
       border-bottom: 3px solid $h_decoration_color;
     }
    }
   h4,
   h5 {
    }
  }
}


/* 記事リストの見出し */
.theme-fo-base.clearfix {
  .component.blog_article {
    .article-post {
      h1 ,
      .component.richtext h2 ,
      .component.richtext h3 ,
      .component.richtext h4 ,
      .component.richtext h5 {
        color:$h_text_color;
        background: transparent;
      }
      .component.richtext h2 {
        border-left: 5px solid $h_decoration_color;
      }
      .component.richtext h3 {
        border-bottom: 1px solid $h_decoration_color;
        border-top: none;
        &:before {
          content: none;
        }
      }
    }
  }
}

/* pcHeightクラス */
.pcHeight h3,
.pcHeight h4 {
  @include breakpoint-pc {
    line-height: 2.6 !important;
  }
}

/* ----------------------------------
  ボタン
  ----------------------------------*/
.theme-fo-base.clearfix {
  .component.button {
   @include breakpoint-sp  {
   /*  .button-cont.left, */ .button-cont.right {
       text-align: center;
      }
    }
  }
}
.button .button-cont a.size-m {
  font-size: 100%;
  padding: 10px 20px;
}
.button .button-cont a.size-s {
  font-size: 85%;
}
/*.component.button.custom_button {
  .button-cont a {
    background: $custom_button_color;
    border-radius: 0;
    border: 2px solid $custom_button_color;
    color: $custom_button_text_color;
    &:hover {
      background: $custom_button_color;
      opacity:.7;
    }
  } */
  .component.button.custom_button ,
  .theme-fo-base .contents .component.button.custom_button {
  .button-cont a {
    background: $customButton_bg_color;
    border: 2px solid $customButton_border_color;
    color: $customButton_text_color;
    &:hover {
      background: $customButton_bg_color;
      color: $customButton_text_color;
      opacity:.7;
    }
  }
 /* &.arrow {
    .button-cont a {
     border-radius: 30px;
     position: relative;
      &:after {
        content :"";
        background:url("https://ferret-one.akamaized.net/images/5bea4a105b3a431ace0011d8/original.png");
        width: 80px;
        height: 22px;
        background-position: left center;
        background-size: cover;
        position: absolute;
        right: -65px;
      }
    }
  } */
  &.contact {
     .button-cont a {
       background: $accent_color;
       position: relative;
  //     padding-right: 45px;
 //      padding: 10px 15px 10px 45px;
 //      font-size: 14px;
      padding-left: 45px;
       border: 2px solid $accent_color;
       color: #fff;
       &:before {
        position: absolute;
        top: 18% ;
        left: 15px;
        font-family: "FontAwesome" ;
        content:"\f044" !important;
        color: #fff;
        font-size: 120%;
        padding-right: 0;
      }
      &:hover {
        opacity: .7;
     //   background: $accent_color;
      }
    }
  }
  &.mail {
     .button-cont a {
    //   background: $accent_color;
       position: relative;
  //     padding-right: 45px;
 //      padding: 10px 15px 10px 45px;
 //      font-size: 14px;
      padding-left: 45px;
  //     border: 2px solid $accent_color;
       color: #fff;
       &:before {
        position: absolute;
        top: 18% ;
        left: 15px;
        font-family: "FontAwesome" ;
        content:"\f0e0" !important;
        color: #fff;
        font-size: 120%;
        padding-right: 0;
      }
      &:hover {
        opacity: .7;
     //   background: $accent_color;
      }
    }
  }

/*

  &.tel {
     .button-cont a {
       background: transparent;
       position: relative;
       padding-right: 45px;
       padding: 10px 15px 10px 45px;
       font-size: 14px;
       border: none;
       &:before {
        position: absolute;
        top: 20% ;
        left: 22px;
        font-family: "FontAwesome" ;
        content:"\f095" !important;
        font-size: 20px;
        padding-right: 0;
      }
      &:hover {
        opacity: .7;
     //   background: $accent_color;
      }
    }
  }  */ /*
  &.access {
     .button-cont a {
       background: transparent;
       border: 0;
       position: relative;
       padding: 10px 0 10px 45px;
       font-size: 14px;
       color: $base_color;
       &:before {
        position: absolute;
        top: 15% ;
        left: 25px;
        font-size: 20px;
        content:"\f041" !important;
        font-family: "FontAwesome" ;
        font-weight: 900;
        color: $base_color;
      }
    }
  }*/
}



/*バグ修正*/
.component.button.white {
  &:hover {
    background: transparent;
    opacity:.7 ;
  }
}
/* -------------------------------------
  カテゴリ・タグ自動生成ページ
-------------------------------------*/
.theme-fo-base.clearfix {
 .wrapper.clearfix {
   .contents {
     .category-preview,
     .tag-preview {
       box-sizing: border-box;
       max-width: 1100px;
       margin: 0 auto;
       padding: 20px;
       article {
         display: table;
         width: calc(100% - 20px * 2);
         padding: 20px;
         border-bottom: 1px solid #2e2e2e;
         .article-thumbnail {
           display: table-cell;
           width: 30%;
           img {
             width: 100%;
           }
         }
         .article-cont {
           display: table-cell;
           width: 70%;
           vertical-align: top;
           margin-bottom: 50px;
           padding: 10px 25px;
           .article-title {
             a {
               color: $a_text_color;
               font-weight: bold;
             }
           }
           .article-meta-info {
             position: relative;
             .article-category {
               &:before {
                color: $tag_color;
                content: "\f115";
                font-family: FontAwesome;
               }
               a {
               color: $tag_color;
                 &:hover {
                  opacity: .7;
                }
              }
            }
             .tag-lists {
               .article-tags {
                 color: $tag_color;
       //          border: none;
                 &:hover {
       //            text-decoration: underline !important;
                   opacity: .7;
                 }
                 &:before {
                  font-family: FontAwesome;
                  content: "\f02b";
                  margin-right: 3px;
                 }
               }
             }
           }
         }
       }
       @include breakpoint-sp {
         article {
           display: block;
           width: 100%;
           padding: 0;
           border-bottom: none;
           .article-thumbnail {
             display: block;
             width: 100%;
           }
           .article-cont {
             display: block;
             width: 100%;
             padding: 0;
             .article-meta-info {
               .tag-lists {
                 display: block;
                }
              }
            }
          }
        }
      }
    }
  }
}
/*----------------------------------
 pc800クラス
----------------------------------*/
.theme-fo-base .wrapper .contents {
  .pc800 {
       @include breakpoint-pc {
    max-width: 800px;
    margin: auto !important;
    }
  }
}
/*----------------------------------
 pcTab400クラス
----------------------------------*/
.theme-fo-base .wrapper .contents {
  .pcTab400 {
    max-width: 400px;
    margin: auto !important;
  }
}
/*----------------------------------
 hoverEnlargement クラス
----------------------------------*/
.hoverEnlargement_section , .hoverEnlargement_row {
 @include breakpoint-pc {
 .component.image {
   background:#000;//hoverした時の影
  overflow: hidden;	/*拡大時にはみ出た部分を隠す*/
  //width: 320px;	/*画像の幅*/ //fOでは不要
  //height: 180px;	/*画像の高さ*/ //fOでは不要
   img {
    display: block;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
      &:hover {
      transform: scale(1.1);	/*画像の拡大率*/
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      -webkit-transition-duration: 0.3s;
      -moz-transition-duration: 0.3s;
      -o-transition-duration: 0.3s;
      transition-duration: 0.3s;/*変化に掛かる時間*/
      opacity: 0.6;	/* 小さくするほど暗くなる */
        }
      }
    }
  }
}
/*----------------------------------
bg_filter_section クラス
----------------------------------*/
.theme-fo-base .wrapper .contents {
  section.bg_filter_section {
    position: relative;
    z-index: 0;
    overflow: hidden;/*ブラー効果でボヤけた部分を非表示*/
    &:before{
     content: '';
     background: inherit;/*sectionで設定した背景画像を継承する*/
     -webkit-filter: blur(2px);
     -moz-filter: blur(2px);
     -o-filter: blur(2px);
     -ms-filter: blur(2px);
     filter: blur(2px);
     position: absolute;
  /*ブラー効果で画像の端がボヤけた分だけ位置を調整*/
     top: -2px;
     left: -2px;
     right: -2px;
     bottom: -2px;
     z-index: -1;/*重なり順序を一番下にしておく*/
    }
  }
}
/*----------------------------------
counter_row , counter_col クラス
----------------------------------*/
.theme-fo-base .wrapper .contents {
 .row.counter_row , .col.counter_col {
  counter-increment:number;
   .component.heading.counter  {
     padding: 65px 0;
      @include breakpoint-sp {
       padding: 15px 0;
      }
     h3 {
      position: relative;
      margin-bottom: 0;
       &:before {
        content: "0" counter(number);
        font-size: 50px;
        font-style: italic;
        color: $h_decoration_color;
        position: absolute;
        left: 0;
        top: -75px;
        }
      }
    }
  }
}
/*----------------------------------
spFixed_section
----------------------------------*/
/*
@include breakpoint-sp {
  .theme-fo-base .wrapper .contents {
    section.spFixed_section {
      position: fixed;
      bottom : 0;
      left: 0;
      right: 0;
      background: rgba($base_color , .8);
      z-index: 1;
      .inner {
        padding: 8px 20px!important;
      }
   .row {
     max-width: 400px;
     text-align: center;
     .col {
       vertical-align: middle;
       display: inline-block !important;
         &.tel_col {
          width: 15% !important;
           .fa {
             font-size: 40px;
           }
         }
         &.contact_col {
           width: 70% !important;
          }
         &.pageTop_col {
          width: 15% !important;
            img {
              width: 31px !important;
            }
          }
        }
      }
    }
  }
}
*/
/*----------------------------------
pcFixed_section
----------------------------------*/
/*
.theme-fo-base .wrapper .contents {
  section.pcFixed_section {
    .pageTopFixed_row {
     width: 105px;
     bottom: 20px;
     position: fixed;
     right: 20px;
     display: block;
     .component.button.pageTop {
       a {
       font-size: 12px;
        display: block;
        background: transparent;
        transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        padding: 25px 10px;
        position: relative;
        font-style: italic;
        &:before {
          content :"";
          background:url("https://ferret-one.akamaized.net/images/5be521ad5b3a432be9000c09/original.png");
          width: 80px;
          height: 22px;
          background-position: left center;
          background-size: cover;
          position: absolute;
          left: -65px;
        }
        &:hover {
          opacity:.6;
        }
      }
    }
  }
   .snsFixed_row {
     bottom: 20px;
     width: 105px;
     position: fixed;
     left: 20px;
     img {
       width: 32px !important;
       &:hover {
        opacity: .6;
        }
      }
    }
  }
} */
/*----------------------------------
TOPページ
----------------------------------*/

/* News & Topics */
.theme-fo-base .wrapper .contents {
  section.topNews_sec {

    @include breakpoint-pc {
    margin-bottom: -126px;
    background:$even_section_bg_color;
    }
    .inner {
       @include breakpoint-pc {
         max-width: 1100px;
        transform: translate(0,-127px);
        -webkit-transform: translate(0,-127px);
        background: #fff;
        padding: 20px 0 !important;
        box-shadow: 0 0 10px #aaa;
       }
    .row.news_row {
      padding: 10px;
      display: table !important;
      .col {
        &.title_col , &.button_col {
          padding: 0;
          vertical-align: bottom;
        }
        &.title_col {
          display: table-cell !important;
           @include mq() {
           width: calc(100% - 70px) !important;
         }
         .component.heading h2 {
          margin: 0;
        }
       }
       &.button_col {
         display: table-cell !important;
         @include mq() {
           width: 70px !important;
         }
         .component.button a {
           border: none;
           padding: 0;
           background: transparent;
           color: $a_text_color;

         }
        }
      }
      .component.entry-list {
         .entry-list-unit {
         padding: 0;
         border: none;
         .cont {
          border: none;
          h3 {
           float: right;
           margin: 0 0 10px;
           padding: 0;
           width: calc(100% - 280px);
           a {
            padding: 0;
            font-weight: normal;
            }
           }
          h4 {
           font-size: 13px;
           font-weight: normal;
           float: left;
           margin: 0 0 10px;
           padding: 0;
           width: 140px;
          }
          p.category {
           float: right;
           padding: 0px 15px 0 10px;
           font-size: 14px;
          margin: 0;
          }
         .tags {
          margin: 0 20px 0 0;
          float:  right;
          width: 114px;
          padding: 0;
          border: solid 1px #C8CFD7;
          background: #FFF;
          text-align: center;
          line-height: 1;
          font-size: 12px;
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          -ms-border-radius: 3px;
          -o-border-radius: 3px;
          border-radius: 3px;
        .tag {
          display: block;
          padding: 5px 0;
          border: none;
          margin: 0;
          pointer-events: none;
          .fa {
            display: none;
          }
          &:hover {
            opacity: 0.7;
          }
        }
      }
      .tags a[href^="/__/tags/news"] {
         background: $main_color;
        }
        .tags a[href^="/__/tags/info"] {
         background: $accent_color;
        }
        .tags {
          border: none;
          a {
            color: #fff;
          }
        }
      &:after {
        content: "";
        display: table;
        clear: both;
      }
    }
  }
  @include breakpoint-sp {
    .entry-list-unit {
      border-bottom: 1px dashed #ddd;
      .cont {
        border: none;
        width: auto;
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        position: relative;
        h3 {
          float: none;
          margin: 0 0 10px;
          padding: 0;
          order: 3;
          width: auto;
          a {
            font-size: 13px;
            padding: 0;
            font-weight: normal;
          }
        }
        h4 {
          font-size: 12px;
          float: left;
          margin: auto 0 10px;
          order: 1;
        }
        .tags , p.category {
          float: right;
          margin-left: 130px;
          order: 2;
          position: absolute;
          left: 0;
          top: 0;
        }
      }
    }
  }
        }
      }
    }
  }
}


/*   ジェックの取り組み   */
@include breakpoint-pc {
.theme-fo-base .wrapper .contents {
  section.topAbout_sec {
    padding: 50px 0;
    .inner {
      position: relative;
    /* padding: 100px 0; */
    max-width: 1400px;
    .row.image_row {
      max-width: 1100px;
      width: 80%;
      }
      .row.text_row {
        top: 0;
        bottom: 0;
        margin: auto;
        max-width: 650px;
        right: 20px;
        width: 50%;
        position: absolute;
        padding: 70px;
        background: rgb(255, 255, 255);
        color: #6a6d61;
        /* border: 2px solid #d8d8d8; */
        box-shadow: 0 0 10px #aaa;
        }
      }
    }
  }
}


/* サービス一覧 */
.theme-fo-base .wrapper .contents {
  section.topService_sec {
    .serviceList_row {
      .col {
  //     box-shadow: 0 0 10px #eae8e8;
        @include breakpoint-pc {
  //     padding: 50px;
        }
        @include mq(sp) {
          padding: 10px;
        }
        .component {
       @include breakpoint-pc {
         margin: auto;
         max-width: 80%;
       }
    }
    .component.heading h3 {
       margin-bottom: 0.5rem;
     }
     .component.heading.icon {
       h3 , h4 {
         position: relative;
        padding-left: 28px;
          &:before {
           font-family: FontAwesome;
           content:"\f144";
           position: absolute;
           left: 0;
           color:$main_color;
        }
       }
       h4 {
       margin-bottom: 0.25rem;
         &:before {
           color: $accent_color;
           }
          }
        }
        .component.border.orange_border {
          position: relative;
          padding: 30px 0;
          hr {
            position: absolute;
            display: block;
            width: 70px;
            border-top: 4px solid #fca400;
            border-bottom: none;
            /* height: 4px; */
           left: 50%;
           -webkit-transform: translateX(-50%);
           -ms-transform: translateX(-50%);
           transform: translateX(-50%);
          }
        }
      }
    }
  }
}


/* お役立ち記事 */
 @include breakpoint-pc {
  .theme-fo-base .wrapper .contents {
    section.topCase_sec {
      .component.entry-list.entry-image-card-3-col {
        .article-list .entry-list-unit {
          width: calc(30% - 6px * 2);
          &:first-child {
            width: calc(40% - 6px * 2);
          }
        }
      }
    }
  }
}

/* ----------------------------------
  ブログテンプレート
----------------------------------*/

section.prev-next-link {
   a {
    &:hover {
      background: transparent;
      opacity: .7;
    }
    .prev-next-label {
      color:$base_color;
    }
  }
}


/*----------------------------------
side bar（サイドバー）
----------------------------------*/
.theme-fo-base .wrapper.side-left .contents,
.theme-fo-base .wrapper.side-right .contents {
  background: transparent;
  border-left: none;
  border-right: none;
}


/*   タグクラウド  */
.theme-fo-base.clearfix {
  .tag_cloud {
    .tag {
      background: transparent;
      color: $tag_color;
      &:hover {
         opacity: .7;
     }
    }
  /*  .tag:before {
      content: "\f02b";
      font-family: FontAwesome;
    } */
  }
}


/*    ランキング  -*/
.theme-fo-base.clearfix {
  .side {
    .component.entry-list {
    @include breakpoint-sp {
      width: 90%;
      margin: auto;
    }
      .entry-list-unit {
        .article-rank {
          margin: 0;
        }
        .article-rank.rank-1 ,
        .article-rank.rank-2 ,
        .article-rank.rank-3 {
         background: $ranking_color !important;
         border: 1px solid $ranking_color;
        }
        .article-rank.rank-4,
        .article-rank.rank-5 {
          background: #fff !important;
          border: 1px solid $ranking_color;
          color: $ranking_color;
        }
      }
    }
  }
}
/*----------------------------------
  foot（フッター）
----------------------------------*/
.theme-fo-base .foot.custom_foot {
  color:#fff;
   @include breakpoint-sp {
  padding-bottom: 85px;
   }
  background: $footer_bg_color;
  .foot-cont {
    padding: 0 20px;
    .row {
      @include breakpoint-sp {
      max-width: 600px;
       padding: 20px 0;
       margin: auto;
      }
    .col {
      .component {
        margin: 10px 0;
        p  , .text {
         color: $footCont_text_color;
        }
      }
      .component.list ul li a {
      color: #fff;
      display:block;
      position:relative;
       &:hover {
       }
      }
      .component.list.horizontal li {
         line-height: 1;
         margin-right: 0;
         padding-right: 0;
         font-size: 12px !important;
         a {
           &:hover {
            text-decoration: unset;
            opacity:.7;
            }
          }
        }
      }
      .component.privacy_img {
        display: inline-block !important;
        width: 50px !important;
      }
      .component.trustE_img {
        display: inline-block  !important;
        width: 140px !important;
        padding: 0 0 0 10px;
      }
    }
  }
  .foot-copyright {
       background: $copyright_bg_color;
    p {
      color :$copyright_text_color;
    }
  }
}
/*----------------------------------
編集画面用CSS（編集画面のみに効くCSS）
----------------------------------*/
/*
@include edit-page {
  .spOnly ,
  .pcOnly ,
  .pcFixed_section ,
  .spFixed_section ,
  .displayNnone ,
  .poptrox-overlay .poptrox-popup .pi {
    display: initial !important;
    position: initial;
    width: initial;
  }
    .theme-fo-base .wrapper .contents section.pcFixed_section .pageTopFixed_row ,
    .theme-fo-base .wrapper .contents section.pcFixed_section .snsFixed_row {
     width: initial;
     position: initial;
   }
    .theme-fo-base .wrapper .contents section.bg_filter_section {
     z-index: initial;
  }
  .page-screen .page-contents .contents section .ctrl-content-ui .ui-buttons {
    left: 0;
  }
}

*/
